<!DOCTYPE html>
<html>
<body>

<h1> Finished signing you in. Check the firebase to see if the user was added </h1>

<p>Good Job :)</p>

<script>
     var timer = setTimeout(function() {
         window.location='localhost:3000/'
     }, 3000);
   </script>

</body>
</html>
