<!DOCTYPE html>
<html>
<body>

<h1> Finished creating a user. Check the firebase to see if the user was added. Will redirect in 3 seconds back to the home page </h1>
 <meta http-equiv="refresh" content="3;url=http://localhost:3000/" />

<p>Good Job :)</p>

  <!-- <script>
       var timer = setTimeout(function() {
           window.location='localhost:3000/'
       }, 3000);
     </script> -->

</body>
</html>
