<!DOCTYPE html>
<html>
<body>




  <form method = "post" action="/addData">
    miles run:<br>
    <input type="number" name="miles">
    <br>

    <br><br>
    <input type="submit" value="Done">

  </form>



</body>
</html>
